name: Deploy AWS Lambda

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
      - ".github/workflows/deploy_lambda.yml"

permissions:
  id-token: write # required for OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy Lambda Function
        uses: aws-actions/aws-lambda-deploy@v1
        with:
          function-name: melodiary-spotify-login
          code-artifacts-dir: ./backend/lambda/auth
          handler: spotify_login.lambda_handler
          runtime: python3.14
